@inherits LayoutComponentBase
@inject Microsoft.Extensions.Configuration.IConfiguration config

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="@config["BaseWebRP"]" target="_blank" class="ml-md-auto">Go to Shop</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
