@page
@model WebRP.Pages.ShopSingleModel
@{
    ViewData["Title"] = "Cart";
}
<!--Page Banner Start-->
<div class="page-banner" style="background-image: url(assets/images/testimonial-bg.jpg);">
    <div class="container">
        <div class="page-banner-content text-center">
            <h2 class="title">Your Shopping Cart</h2>
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Your Shopping Cart</li>
            </ol>
        </div>
    </div>
</div>
<!--Page Banner End-->
<!--Cart Start-->
<div class="cart-page section-padding-5">
    <div class="container">
        <div class="cart-table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="image">Image</th>
                        <th class="product">Product</th>
                        <th class="price">Price</th>
                        <th class="quantity">Quantity</th>
                        <th class="total">Total</th>
                        <th class="remove">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @* Add product in Cart here *@

                </tbody>
            </table>
        </div>
        @* Action *@
        <div class="cart-btn">
            <div class="cart-btn-left">
                <a href="ShopGrid3" class="btn btn-primary">Continue Shopping</a>
            </div>
            <div class="cart-btn-right">
                <a class="btn clearCart">Clear Cart</a>
                <a class="btn updateCart">Update Cart</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="cart-shipping">
                    <div class="cart-title">
                        <h4 class="title">Calculate Shipping</h4>
                        <p>Estimate your shipping fee *</p>
                    </div>
                    <div class="cart-form mt-25">
                        <p>Calculate shipping</p>
                        <form action="javascript:void(0);">
                            <div class="single-select2">
                                <div class="form-select2">
                                    <select class="select2">
                                        <option value="0">Select a country…</option>
                                        <option value="1">Bangladesh</option>
                                        <option value="2">Canada</option>
                                        <option value="3">Colombia</option>
                                        <option value="4">Indonesia</option>
                                        <option value="5">Italy</option>
                                        <option value="6">Pakistan</option>
                                        <option value="7">Turkey</option>
                                        <option value="8">Vietnam</option>
                                    </select>
                                </div>
                            </div>
                            <div class="single-select2">
                                <div class="form-select2">
                                    <select class="select2">
                                        <option value="">Select an option…</option>
                                        <option value="BAG">Bagerhat</option>
                                        <option value="BAN">Bandarban</option>
                                        <option value="BAR">Barguna</option>
                                        <option value="BARI">Barisal</option>
                                        <option value="BHO">Bhola</option>
                                        <option value="BOG">Bogra</option>
                                        <option value="BRA">Brahmanbaria</option>
                                        <option value="CHA">Chandpur</option>
                                        <option value="CHI">Chittagong</option>
                                        <option value="CHU">Chuadanga</option>
                                        <option value="COM">Comilla</option>
                                        <option value="COX">Cox's Bazar</option>
                                        <option value="DHA">Dhaka</option>
                                        <option value="DIN">Dinajpur</option>
                                        <option value="FAR">Faridpur </option>
                                        <option value="FEN">Feni</option>
                                        <option value="GAI">Gaibandha</option>
                                        <option value="GAZI">Gazipur</option>
                                        <option value="GOP">Gopalganj</option>
                                        <option value="HAB">Habiganj</option>
                                        <option value="JAM">Jamalpur</option>
                                        <option value="JES">Jessore</option>
                                        <option value="JHA">Jhalokati</option>
                                        <option value="JHE">Jhenaidah</option>
                                        <option value="JOY">Joypurhat</option>
                                        <option value="KHA">Khagrachhari</option>
                                        <option value="KHU">Khulna</option>
                                        <option value="KIS">Kishoreganj</option>
                                        <option value="KUR">Kurigram</option>
                                        <option value="KUS">Kushtia</option>
                                        <option value="LAK">Lakshmipur</option>
                                        <option value="LAL">Lalmonirhat</option>
                                        <option value="MAD">Madaripur</option>
                                        <option value="MAG">Magura</option>
                                        <option value="MAN">Manikganj </option>
                                        <option value="MEH">Meherpur</option>
                                        <option value="MOU">Moulvibazar</option>
                                        <option value="MUN">Munshiganj</option>
                                        <option value="MYM">Mymensingh</option>
                                        <option value="NAO">Naogaon</option>
                                        <option value="NAR">Narail</option>
                                        <option value="NARG">Narayanganj</option>
                                        <option value="NARD">Narsingdi</option>
                                        <option value="NAT">Natore</option>
                                        <option value="NAW">Nawabganj</option>
                                        <option value="NET">Netrakona</option>
                                        <option value="NIL">Nilphamari</option>
                                        <option value="NOA">Noakhali</option>
                                        <option value="PAB">Pabna</option>
                                        <option value="PAN">Panchagarh</option>
                                        <option value="PAT">Patuakhali</option>
                                        <option value="PIR">Pirojpur</option>
                                        <option value="RAJB">Rajbari</option>
                                        <option value="RAJ">Rajshahi</option>
                                        <option value="RAN">Rangamati</option>
                                        <option value="RANP">Rangpur</option>
                                        <option value="SAT">Satkhira</option>
                                        <option value="SHA">Shariatpur</option>
                                        <option value="SHE">Sherpur</option>
                                        <option value="SIR">Sirajganj</option>
                                        <option value="SUN">Sunamganj</option>
                                        <option value="SYL">Sylhet</option>
                                        <option value="TAN">Tangail</option>
                                        <option value="THA">Thakurgaon</option>

                                    </select>
                                </div>
                            </div>
                            <div class="single-form">
                                <input type="text" placeholder="Postcode/ziip">
                            </div>
                            <div class="cart-form-btn">
                                <button class="btn btn-primary">Update totals</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-coupon">
                    <div class="cart-title">
                        <h4 class="title">Coupon Code</h4>
                        <p>Enter your coupon code if you have one.</p>
                    </div>
                    <div class="cart-form mt-25">
                        <form action="javascript:void(0);">
                            <div class="single-form">
                                <input type="text" placeholder="Enter your coupon code..">
                            </div>
                            <div class="cart-form-btn">
                                <button href="javascript:void(0);" class="btn btn-primary">Apply Coupon</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-totals">
                    <div class="cart-title">
                        <h4 class="title">Cart totals</h4>
                    </div>
                    <div class="cart-total-table mt-25">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="value">Subtotal</p>
                                    </td>
                                    <td>
                                        <p class="price">£600.00</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="value">Shipping</p>
                                    </td>
                                    <td>
                                        <ul class="shipping-list">
                                            <li class="cus-radio">
                                                <input type="radio" name="shipping" id="radio1" checked="">
                                                <label for="radio1"><span></span> Flat Rate</label>
                                            </li>
                                            <li class="cus-radio">
                                                <input type="radio" name="shipping" id="radio2">
                                                <label for="radio2"><span></span> Free Shipping</label>
                                            </li>
                                            <li class="cus-radio">
                                                <input type="radio" name="shipping" id="radio3">
                                                <label for="radio3"><span></span> Local Pickup</label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="value">Total</p>
                                    </td>
                                    <td>
                                        <p class="price">£600.00</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="cart-total-btn">
                        <a href="~/checkout" class="btn btn-primary btn-block">Proceed To Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Cart End-->

<script src="~/assets/js/cart.js"></script>
@* Các đoạn script bên dưới có sử dụng một số function của cart.js *@
<script>
    //Run update when first load
    Updatelist("listCart");
    //--------------DELETE PRODUCT IN Page -------------------
    //$("i.ti-close").on("click", function () {
    $(document).on('click', 'i.ti-close', function () {
        //Get Id product
        var productId = $(this).attr("productid");
        //remove cart with productId
        DeleteProductInLocal(productId, "listCart");
        Updatelist("listCart");
        UpdateProductCart();
    }); //--------------END DELETE PRODUCT IN Page -------------------
    //----Add more product -----
    //$("i.ti-plus").on("click", function () {
    $(document).on('click', '.add', function () {
        var maxQuantity = +$(this).prev().attr("max");
        var currentQuantity = +$(this).prev().val();
        if (currentQuantity < maxQuantity) {
            //update total
            var currentPrice = +$(this).prev().attr("currentprice");
            var totalNew = currentPrice * (currentQuantity + 1);
            $(this).parent().parent().parent().next().children().text("$" + totalNew);
        }
    });//----End Add more product -----
    //-----------Sub a Product -------------
    $(document).on('click', '.sub', function () {
        var maxQuantity = +$(this).parent().prev().attr("maxquantity");
        var currentQuantity = +$(this).next().val();
        if (currentQuantity > 1) {
            var currentPrice = +$(this).next().attr("currentprice");
            var totalNew = currentPrice * (currentQuantity - 1);
            $(this).parent().parent().parent().next().children().text("$" + totalNew);
        }
    });//----End Sub a product -----

    //--------------CLEAR CART--------
    $(document).on('click', 'a.clearCart', function () {
        //Create a new listCart
        var listCart = [];
        localStorage.setItem("listCart", JSON.stringify(listCart));
        Updatelist("listCart");
        UpdateProductCart();

    });//--------- END CLEAR CART--------

    //--------------UPDATE CART--------
    $(document).on('click', 'a.updateCart', function () {
        //Get list tr in tbody
        var tableBody = $("div.cart-table tbody tr");
        //Get list cart in Localstoreage
        var listCartinLocal = JSON.parse(localStorage.getItem('listCart'));

        tableBody.each(function (index, tr) {
            var productid = $(tr).attr("productid");
            var quantityNew = +$(tr).find("input").val();
            var maxQuantity = +$(tr).find("input").attr("max");

            for (i = 0; i < listCartinLocal.length; i++) {
                if (listCartinLocal[i].id === productid) {
                    if (quantityNew >= maxQuantity) listCartinLocal[i].quantity = maxQuantity;
                    else listCartinLocal[i].quantity = quantityNew;
                    listCartinLocal[i].total = (+listCartinLocal[i].quantity) * (+listCartinLocal[i].currentPrice);
                }
            }

        });

        localStorage.setItem("listCart", JSON.stringify(listCartinLocal));
        Updatelist("listCart");
        UpdateProductCart();

    });//--------- END UPDATE CART--------
</script>
