@page
@model ShopGrid3Model
@using System.Text.Json

@{
    ViewData["Title"] = "Shop Grid 3";
}
<!--Error message-->
<h3 class="message"></h3>
<!--Page Banner Start-->
<div class="page-banner" style="background-image: url(assets/images/testimonial-bg.jpg);">
    <div class="container">
        <div class="page-banner-content text-center">
            <h2 class="title">Products</h2>
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </div>
    </div>
</div>
<!--Page Banner End-->
<!--Shop Start-->
<div class="shop-page section-padding-6">
    <div class="container">

        <!--Shop Top Bar Start-->
        <div class="shop-top-bar d-sm-flex align-items-center justify-content-between">
            <div class="top-bar-btn">
                <ul class="nav" role="tablist">
                    <li class="nav-item"><a class="nav-link grid active" data-toggle="tab" href="#grid" role="tab"></a>
                    </li>
                    <li class="nav-item"><a class="nav-link list" data-toggle="tab" href="#list" role="tab"></a></li>
                </ul>
            </div>
            <div class="top-bar-sorter">
                <div class="sorter-wrapper d-flex align-items-center">
                    <label>Sort by:</label>
                    <select class="sorter wide" name="SortBy" id="SortBy">
                        <option value="manual">Featured</option>
                        <option value="best-selling">Best Selling</option>
                        <option value="title-ascending">Alphabetically, A-Z</option>
                        <option value="title-descending">Alphabetically, Z-A</option>
                        <option value="price-ascending">Price, low to high</option>
                        <option value="price-descending">Price, high to low</option>
                        <option value="created-descending">Date, new to old</option>
                        <option value="created-ascending">Date, old to new</option>
                    </select>
                </div>
            </div>
            <div class="top-bar-page-amount">
                <p>Showing 1 - 9 of 10 result</p>
            </div>
        </div>
        <!--Shop Top Bar End-->
        <!--Show Products-->
        <div class="tab-content" id="myTabContent">
            <!--Show Products as grid-->
            <div class="tab-pane fade show active" id="grid" role="tabpanel">
                <div class="row">
                    <!--Show divProductGrid here -->


                </div>
            </div>
            <!--Show Products as list-->
            <div class="tab-pane fade" id="list" role="tabpanel">
                <!--Show divProductList here -->


            </div>
        </div>

        <!--Pagination Start-->
        <div class="page-pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link prev" href="#">Prev</a></li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link next" href="#">Next</a></li>
            </ul>
        </div>
        <!--Pagination End-->


    </div>
</div>
<!--Shop End-->
<script src="~/assets/js/ajaxGetProduct.js"></script>

<script src="~/assets/js/cart.js"></script>
