@page
@model ShopGrid3Model
@using System.Text.Json

@{
    ViewData["Title"] = "ShopGrid3";
}
<!--Error message-->
<h3 class="message"></h3>
<!--Page Banner Start-->
<div class="page-banner" style="background-image: url(assets/images/testimonial-bg.jpg);">
    <div class="container">
        <div class="page-banner-content text-center">
            <h2 class="title">Products</h2>
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </div>
    </div>
</div>
<!--Page Banner End-->
<!--Shop Start-->
<div class="shop-page section-padding-6">
    <div class="container">

        <!--Shop Top Bar Start-->
        <div class="shop-top-bar d-sm-flex align-items-center justify-content-between">
            <div class="top-bar-btn">
                <ul class="nav" role="tablist">
                    <li class="nav-item"><a class="nav-link grid active" data-toggle="tab" href="#grid" role="tab"></a>
                    </li>
                    <li class="nav-item"><a class="nav-link list" data-toggle="tab" href="#list" role="tab"></a></li>
                </ul>
            </div>
            <div class="top-bar-sorter">
                <div class="sorter-wrapper d-flex align-items-center">
                    <label>Sort by:</label>
                    <select class="sorter wide" name="SortBy" id="SortBy">
                        <option value="manual">Featured</option>
                        <option value="best-selling">Best Selling</option>
                        <option value="title-ascending">Alphabetically, A-Z</option>
                        <option value="title-descending">Alphabetically, Z-A</option>
                        <option value="price-ascending">Price, low to high</option>
                        <option value="price-descending">Price, high to low</option>
                        <option value="created-descending">Date, new to old</option>
                        <option value="created-ascending">Date, old to new</option>
                    </select>
                </div>
            </div>
            <div class="top-bar-page-amount">
                <p>Showing 1 - 9 of 10 result</p>
            </div>
        </div>
        <!--Shop Top Bar End-->
        <!--Show Products-->
        <div class="tab-content" id="myTabContent">
            <!--Show Products as grid-->
            <div class="tab-pane fade show active" id="grid" role="tabpanel">
                <div class="row">
                    <!--Show divProductGrid here -->


                </div>
            </div>
            <!--Show Products as list-->
            <div class="tab-pane fade" id="list" role="tabpanel">
                <!--Show divProductList here -->


            </div>
        </div>

        <!--Pagination Start-->
        <div class="page-pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link prev" href="#">Prev</a></li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link next" href="#">Next</a></li>
            </ul>
        </div>
        <!--Pagination End-->


    </div>
</div>
<!--Shop End-->
<!--Footer Section Start-->
<div class="footer-area">
    <div class="container">
        <div class="footer-widget-area section-padding-6">
            <div class="row justify-content-between">

                <!--Footer Widget Start-->
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <a class="footer-logo" href="#"><img src="assets/images/logo/logo-white.png" alt=""></a>
                        <div class="footer-widget-text">
                            <p>A perfect blend of creativity, energy, communication, happiness and love. Let us arrange
                                a smile for you. </p>
                        </div>
                        <div class="widget-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Footer Widget End-->
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Information</h4>

                        <div class="footer-widget-menu">
                            <ul>
                                <li><a href="#">Search Terms</a></li>
                                <li><a href="#">Advanced Search</a></li>
                                <li><a href="#">Helps & Faqs</a></li>
                                <li><a href="#">Store Location</a></li>
                                <li><a href="#">Orders & Returns</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">My Account</h4>

                        <div class="footer-widget-menu">
                            <ul>
                                <li><a href="#">Delivery</a></li>
                                <li><a href="#">Legal Notice</a></li>
                                <li><a href="#">Secure payment</a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="about.html">About us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Help</h4>

                        <div class="footer-widget-menu">
                            <ul>
                                <li><a href="#">FAQ’s</a></li>
                                <li><a href="#">Pricing Plans</a></li>
                                <li><a href="#">Track</a></li>
                                <li><a href="#">Your Order</a></li>
                                <li><a href="#">Returns</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Customer Service</h4>

                        <div class="footer-widget-menu">
                            <ul>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Deliveries & Returns</a></li>
                                <li><a href="#">Gift card</a></li>
                                <li><a href="#">Legal Notice</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Footer Section End-->
<!--Copyright Section Start-->
<div class="copyright-section">
    <div class="container">
        <div class="copyright-wrapper text-center d-lg-flex align-items-center justify-content-between">

            <!--Right Start-->
            <div class="copyright-content">
                <p>Copyright 2021 &copy; <a href="https://sofsog.com/">Sofsog</a> . All Rights Reserved</p>
            </div>
            <!--Right End-->
            <!--Right Start-->
            <div class="copyright-payment">
                <img src="assets/images/payment.png" alt="">
            </div>
            <!--Right End-->

        </div>
    </div>
</div>
<!--Copyright Section End-->
<!--Back To Start-->
<a href="#" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!--Back To End-->
<!-- Quick View  Start-->
<div class="modal fade" id="exampleModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="quick-view-image">
                            <img src="assets/images/product-single/product-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="quick-view-content">
                            <h4 class="product-title">Sweet Alyssum</h4>
                            <div class="thumb-price">
                                <span class="current-price">$19.00</span>
                                <span class="old-price">$29.00</span>
                                <span class="discount">-34%</span>
                            </div>
                            <div class="product-rating">
                                <ul class="rating-star">
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <span>No reviews</span>
                            </div>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so
                                beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire,
                                that they cannot foresee the pain and trouble that are bound to ensue; and equal blame
                                belongs to those who fail in their duty through weakness of will</p>

                            <div class="quick-view-quantity-addcart d-flex flex-wrap">
                                <form action="#">
                                    <div class="quantity d-inline-flex">
                                        <button type="button" class="sub"><i class="ti-minus"></i></button>
                                        <input type="text" value="1" />
                                        <button type="button" class="add"><i class="ti-plus"></i></button>
                                    </div>
                                </form>
                                <div class="addcart-btn">
                                    <button class="btn btn-primary">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Quick View Tags End-->

<script>

    $(document).ready(function () {
        //-------------- AJAX ---------------------
        @* if (!sessionStorage.hasOwnProperty("token")) {
                window.location.href = "Chuyển qua trang đăng nhập";
                } *@
        var options = {};
        options.url = "http://localhost:5000/api/Products";
        options.type = "GET";
        @* options.beforeSend = function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + sessionStorage.getItem("token"));
                $("h3.message").html("Wait...");
                }; *@
            options.dataType = "json";
        options.success = function (data) {

            data.forEach(function (product) {
                //Check quantity of product
                if (product.quantity === 0) {
                    var stickerNew = `<span class="sticker-new soldout-title">Soldout</span>`;
                } else {
                    var stickerNew = `<span class="sticker-new label-sale">-` + product.productPrice.salePercent + `%</span>`;
                }
                //MainProductImage 
                var mainProductImage = "";
                product.productImages.forEach(function (productImage) {
                    if (productImage.isMainPicture) {
                        mainProductImage = productImage.pictureUri;
                        //break; JAVASCRIPT can't break forEach
                    }
                });

                //#region Create product grid
                var divProductGrid = `
                <div class="col-lg-4 col-sm-6">
                    <div class="single-product">
                        <div class="product-image">
                            <a href="shopsingle/`+ product.id + `">
                                 <img src="`+ mainProductImage + `" alt="">
                                @* <img src="https://picsum.photos/384/480" alt=""> *@

                            </a>
                            `+ stickerNew + `
                            <div class="action-links">
                                <ul>
                                    <li><a productId=`+ product.id + ` 
                                    productName=`+ product.name + ` 
                                    currentPrice=`+ product.productPrice.currentPrice + ` 
                                    oldPrice=`+ product.productPrice.oldPrice + ` 
                                    maxQuantity=`+ product.quantity + `
                                    image=`+ mainProductImage + ` 
                                    data-tooltip="tooltip" data-placement="left" title="Add to cart"><i class="icon-shopping-bag"></i></a></li>
                                    <li><a href="compare.html" data-tooltip="tooltip" data-placement="left" title="Compare"><i class="icon-sliders"></i></a></li>
                                    <li><a href="wishlist.html" data-tooltip="tooltip" data-placement="left" title="Add to Wishlist"><i class="icon-heart"></i></a></li>
                                    <li><a href="javascript:void(0);" data-tooltip="tooltip" data-placement="left" title="Quick View" data-toggle="modal" data-target="#Modal`+ product.id + `"><i class="icon-eye"></i></a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="product-content text-center">
                            <ul class="rating">
                                <li class="rating-on"><i class="fa fa-star"></i></li>
                                <li class="rating-on"><i class="fa fa-star"></i></li>
                                <li class="rating-on"><i class="fa fa-star"></i></li>
                                <li class="rating-on"><i class="fa fa-star-half-o"></i></li>
                                <li class="rating-on"><i class="fa fa-star-o"></i></li>
                            </ul>
                            <h4 class="product-name"><a href="shopsingle/`+ product.id + `">` + product.name + `</a></h4>
                            <div class="price-box">
                                <span class="current-price">$`+ product.productPrice.currentPrice + `</span>
                                <span class="old-price">$`+ product.productPrice.oldPrice + `</span>
                            </div>
                        </div>
                    </div>
                </div>`;
                //#endregion Create product grid
                //Add divProduct grid
                $("#grid > div").append(divProductGrid);


                //#region Create product list
                var divProductList = `
                <div class="single-product product-list">
                    <div class="product-image">
                        <a href="shopsingle/`+ product.id + `">
                            <img src="`+ mainProductImage + `" alt="">
                        </a>

                        `+ stickerNew + `

                        <div class="action-links">
                            <ul>
                                <li><a href="javascript:void(0);" data-tooltip="tooltip" data-placement="left" title="Quick View" data-toggle="modal" data-target="#Modal`+ product.id + `"><i class="icon-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <ul class="rating">
                            <li class="rating-on"><i class="fa fa-star-o"></i></li>
                            <li class="rating-on"><i class="fa fa-star-o"></i></li>
                            <li class="rating-on"><i class="fa fa-star-o"></i></li>
                            <li class="rating-on"><i class="fa fa-star-o"></i></li>
                            <li class="rating-on"><i class="fa fa-star-o"></i></li>
                        </ul>
                        <h4 class="product-name"><a href="shopsingle/`+ product.id + `">` + product.name + `</a></h4>
                        <div class="price-box">
                            <span class="current-price">$`+ product.productPrice.currentPrice + `</span>
                            <span class="old-price">$`+ product.productPrice.oldPrice + `</span>
                        </div>
                        <p>`+ product.shortDescription + `</p>

                        <ul class="action-links">
                            <li><a href="javascript:void(0);" class="add-cart" data-tooltip="tooltip" data-placement="top" title="Add to cart"> Add to cart </a></li>
                            <li><a href="javascript:void(0);" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist" class="wishlist"><i class="icon-heart"></i></a></li>
                            <li><a href="javascript:void(0);" data-tooltip="tooltip" data-placement="top" title="Compare" class="compare"><i class="icon-sliders"></i></a></li>
                        </ul>
                    </div>
                </div>`;
                //#endregion Create product list

                //Add product list
                $("div#list").append(divProductList);

                //#region Create quick view
                var quickView = `
                <div class="modal fade" id="Modal`+ product.id + `">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="quick-view-image">
                                            <img src="`+ mainProductImage + `" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="quick-view-content">
                                            <h4 class="product-title">`+ product.name + `</h4>
                                            <div class="thumb-price">
                                                <span class="current-price">$`+ product.productPrice.currentPrice + `</span>
                                                <span class="old-price">$`+ product.productPrice.oldPrice + `</span>
                                                <span class="discount">-`+ product.productPrice.salePercent + `%</span>
                                            </div>
                                            <div class="product-rating">
                                                <ul class="rating-star">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                                <span>No reviews</span>
                                            </div>
                                            <p>`+ product.shortDescription + `</p>

                                            <div class="quick-view-quantity-addcart d-flex flex-wrap">
                                                <form action="#">
                                                    <div class="quantity d-inline-flex">
                                                        <button type="button" class="sub"><i class="ti-minus"></i></button>
                                                        <input type="text" value="1" max=`+ product.quantity + ` />
                                                        <button type="button" class="add"><i class="ti-plus"></i></button>
                                                    </div>
                                                </form>
                                                <div class="addcart-btn">
                                                    <button class="btn btn-primary">Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>`;
                //#endregion Create quick view

                //Add quick view
                $("div.main-wrapper").append(quickView);
            });
            //Error message change to ""
            $("h3.message").html("");

            @* if (sessionStorage.hasOwnProperty("message")) {
                    $("h3.message").html(sessionStorage.getItem("message"));
                    sessionStorage.removeItem("message");
                    } *@
        };
        options.error = function (xhr) {
            @* if (xhr.status == 401) {
                    window.location.href = "chuyển đến trang đăng nhập";
                    } *@

                $("h3.message").html("Error while calling the API");
        }
        //Start call API
        $.ajax(options);
    });
    //-------------- END AJAX ---------------------

    //------------------ ADD TO CART --------------------
    /*--
    |    Get Product and add to CART CONTENT
    -----------------------------------*/
    function UpdateProductCart() {
        //Get List
        var listCartinLocal = JSON.parse(localStorage.getItem('listCart'));
        //li.product-cart
        var liProductInCart = $("li.product-cart");
        //total value
        var totalValue = liProductInCart.next().children().children().children();
        var calculate = CalculateItem(listCartinLocal);
        if (calculate.totalQuanlity === 0) {
            $('span.item-count').addClass("d-none");
            liProductInCart.text("");
            totalValue.text("");
        } else {
            //Add number total product
            $('span.item-count').removeClass("d-none");
            $('span.item-count').text(calculate.totalQuanlity);
            //Clear li.product-cart
            liProductInCart.text("");
            //Add new li.product-cart
            listCartinLocal.forEach(function (cart) {
                //cart:
                //////id: "1"
                //////image: "...."
                //////currentPrice: ...,
                //////oldPrice: ...,
                //////productName: "Iphone 7 Plus"
                //////quantity: 4
                //////total: 1952
                var divProductInCart = `<div class="single-cart-box">
                                                <div class="cart-img">
                                                    <a href="shopsingle/`+ cart.id + `"><img src=` + cart.image + ` alt=""></a>
                                                    <span class="pro-quantity">` + cart.quantity + `x</span>
                                                </div>
                                                <div class="cart-content">
                                                    <h6 class="title"><a href="shopsingle/`+ cart.id + `">` + cart.productName + `</a></h6>
                                                    <div class="cart-price">
                                                        <span class="sale-price">$` + cart.currentPrice + `</span>
                                                        <span class="regular-price">` + cart.oldPrice + `</span>
                                                    </div>
                                                </div>
                                                <a productid=`+ cart.id + ` href="javascript:void(0);" class="del-icon"><i class="fa fa-trash"></i></a>
                                            </div>`;
                liProductInCart.append(divProductInCart);
            });
            //Add total value of cart
            totalValue.text("$" + calculate.totalValue);
        }
    };//End UpdateProductCart 
    //Run update when first load
    UpdateProductCart();
    //--------------DELETE PRODUCT IN CART -------------------
    $("div.single-cart-box").children("a.del-icon").on("click", function () {
        //Get List
        var listCartinLocal = JSON.parse(localStorage.getItem('listCart'));
        //Get Id product
        var productId = $(this).attr("productid");
        //remove cart with productId
        listCartinLocal = listCartinLocal.filter(cart => cart.id !== productId);
        //save to LocalStorage
        localStorage.setItem("listCart", JSON.stringify(listCartinLocal));
        //update
        UpdateProductCart();
        //reload this page
        location.reload();
    }); //--------------END DELETE PRODUCT IN CART -------------------


    //Calculate Item count and total Price and add to item-count 
    function CalculateItem(listCart) {
        var i;
        var result = {
            totalQuanlity: 0,
            totalValue: 0
        };
        if (listCart === null) return result;
        for (i = 0; i < listCart.length; i++) {
            result.totalQuanlity = Number(result.totalQuanlity) + Number(listCart[i].quantity);
            result.totalValue = Number(result.totalValue) + Number(listCart[i].total);
        }
        return result;
    };
    //Check idProduct in Listcart
    function containsCart(productId, listCart) {
        var i;
        for (i = 0; i < listCart.length; i++) {
            if (listCart[i].id === productId) {
                return listCart[i];
            }
        }
        return null;
    };


    //--------------------Click add tocart--------------------
    //Thẻ a, có attr là productName
    //$("a[productName]").on("click", function () {
    // chỉnh lại thành bên dưới để tác dụng với nội dung sa khi ajax
    $(document).on('click', 'a[productName]', function () {
        var maxQuantity = $(this).attr("maxQuantity");
        //if sold out, do nothing
        if (maxQuantity === "0") return;
        var productId = $(this).attr("productId");
        var productName = $(this).attr("productName");
        var currentPrice = $(this).attr("currentPrice");
        var oldPrice = $(this).attr("oldPrice");

        var image = $(this).attr("image");
        //Create a cart, Add to ListCart, Save to LocalStorage
        function CreateCartAndSave(listCart) {
            //Create a cart
            var cart = {
                id: productId,
                image: image,
                productName: productName,
                currentPrice: currentPrice,
                oldPrice: oldPrice,
                quantity: 1, //click chỗ này mặc định add vào cart 1
                total: currentPrice
            };
            //add cart
            listCart.push(cart);
            //save localsorage
            localStorage.setItem("listCart", JSON.stringify(listCart));
            UpdateProductCart();
        };
        //Check Browser support for LocalStorge
        if (typeof (Storage) !== "undefined") {
            //Check if existed listCart
            var listCartinLocal = JSON.parse(localStorage.getItem('listCart'));
            //if listCart Existed
            if (listCartinLocal != null) {
                //Check producId in listCartinLocal
                var cartExistListCart = containsCart(productId, listCartinLocal);
                //console.log(cartExistListCart);
                if (cartExistListCart != null) {
                    cartExistListCart.quantity = Number(cartExistListCart.quantity) + 1;
                    cartExistListCart.total = (+cartExistListCart.currentPrice) * (+cartExistListCart.quantity);
                    localStorage.setItem("listCart", JSON.stringify(listCartinLocal));
                    UpdateProductCart();
                } else {
                    CreateCartAndSave(listCartinLocal);
                }
                //if listCart is not existed 
            } else {
                //Create a new listCart
                var listCart = [];
                CreateCartAndSave(listCart);
            }
        } else {
            // Sorry! No Web Storage support..
        }
        //Reload page to js known new content
        location.reload();
    });
    //--------------------END Click add tocart--------------------
</script>
