@page
@{
    ViewData["Title"] = "Check Out";
}
<!--Page Banner Start-->
<div class="page-banner" style="background-image: url(assets/images/testimonial-bg.jpg);">
    <div class="container">
        <div class="page-banner-content text-center">
            <h2 class="title">Wishlist</h2>
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
            </ol>
        </div>
    </div>
</div>
<!--Page Banner End-->

<!--Wishlist Start-->
<div class="cart-page section-padding-5">
    <div class="container">
        <div class="cart-table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="image">Image</th>
                        <th class="product">Product</th>
                        <th class="price">Price</th>
                        <th class="quantity">Quantity</th>
                        <th class="total">Total</th>
                        <th class="remove">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @* Add tr Wishlist here *@
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Wishlist End-->

<script src="~/assets/js/cart.js"></script>

<script>

    //Run update when first load
    Updatelist("wishlists");
    //Click X to delete Product in wishlist page
    $(document).on('click', 'i.ti-close', function () {
        //Get Id product
        var productId = $(this).attr("productid");
        console.log(productId);
        // do something
        DeleteProductInLocal(productId, "wishlists");
        //update
        Updatelist("wishlists");
    }); //End Click X to delete Product in wishlist page

</script>
@{

}
